<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Registration Form</title>
  <link rel="stylesheet" type="text/css" href="css/main.css" />

  <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="bundle.js" charset="utf-8"></script>
</head>


<body>
  <h1 class="register-title">Welcome</h1>
  <form class="register">
    <input type="name" id="name" class="register-input" placeholder="Name">
    <input type="name" id="placename" class="register-input" placeholder="Business name">
    <input type="location" id="address" class="register-input" placeholder="Address">
    <input type="location" id="city" class="register-input" placeholder="City">
    <input type="location" id="state"class="register-small" placeholder="State">
    <input type="number" id="zip" class="register-small" placeholder="Zip" style="margin-left:5%">
    
    <a href="/products">
      <button onclick="funct1()" type="submit" class="register-button"> 
          Next
      </button>
    </a>

    <script>
      var firebase = require("/node_modules/firebase");
      var myFirebaseRef = new firebase("https://bankhackathon.firebaseio.com/");

      function funct1(){
        myFirebaseRef.set({
          name: document.getElementById("name").value,
          placename: document.getElementById("placename").value,
          address : document.getElementById("address").value,
          city : document.getElementById("city").value,
          state: document.getElementById("state").value,
          zip : document.getElementById("zip").value
        });
      }
    </script>
  </form>
</body>


</html>


