<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Products</title>
  <link rel="stylesheet" type="text/css" href="css/main.css" />

  <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="bundle.js" charset="utf-8"></script>
</head>


<body>
  <h1 class="register-title">Product</h1>
  <form class="register">
    <input type="file" id="myFile" multiple size="50" onchange="myFunction()">
    <br>
    <p id="demo"></p>
    <br>

    <script>
      function myFunction(){
          var x = document.getElementById("myFile");
          var txt = "";
          if ('files' in x) {
              if (x.files.length == 0) {
                  txt = "Select one or more files.";
              } else {
                  for (var i = 0; i < x.files.length; i++) {
                      txt += "<br><strong>" + (i+1) + ". file</strong><br>";
                      var file = x.files[i];
                      if ('name' in file) {
                          txt += "name: " + file.name + "<br>";
                      }
                      if ('size' in file) {
                          txt += "size: " + file.size + " bytes <br>";
                      }
                  }
              }
          }
          else {
              if (x.value == "") {
                  txt += "Select one or more files.";
              } else {
                  txt += "The files property is not supported by your browser!";
                  txt  += "<br>The path of the selected file: " + x.value; // If the browser does not support the files property, it will return the path of the selected file instead.
              }
          }
          document.getElementById("demo").innerHTML = txt;
      }
    </script>

    <input type="location" id="name" class="register-input" placeholder="Product Name">
    <input type="name" id="description" class="register-input" placeholder="Product Description">

    <button onclick="funct1()" type="submit" class="register-button"> Add more </button>
    <button onclick="funct2()" type="submit" class="register-button"> Done </button>

    <script>
      var firebase = require("/node_modules/firebase");
      var myFirebaseRef = new firebase("https://bankhackathon.firebaseio.com/");

      function funct1(){
        console.log("got here");

        myFirebaseRef.push({
          Name: document.getElementById("name").value,
          Description: document.getElementById("description").value,
          image : btoa(document.getElementById("myFile").files),
        });
      }

      function funct2() {
          $.post('/submit')
      }
    </script>
  </form>

</body>


</html>
